<div class="container" role="main">
  <div class="row">
    <h1>Release Notes</h1>
  </div>

  <div class="row">
    <div class="header title">
      <h2>Commits</h2>
    </div>
    <table id="commitTable" class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th>Date</th>
          <th>Author</th>
          <th>Commit</th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td nowrap="nowrap"><span style="display:none">2019-06-017T21:09:03&nbsp;</span>17-Jun-2019 09:09</td>
          <td>Cody Flatla</td>
          <td>
            Add changelog content (#9)

            <pre>
* Copy output from release-notes script to changelog

* Add git-release-notes module and script

https://github.com/ariatemplates/git-release-notes

* Remove construction component from changelog
</pre>
          </td>
        </tr>

        <tr>
          <td nowrap="nowrap"><span style="display:none">2019-06-02T03:31:23&nbsp;</span>02-Jun-2019 03:31</td>
          <td>Cody Flatla</td>
          <td>
            Improve circle config (#8)

            <pre>
* Remove branch filter from build job
To hopefully prevent this:

https://circleci.com/workflow-run/afd93b24-8d9e-44fb-b2cb-8f51fc2a17d2

* Make the lint and test jobs run in parallel

* Use version 2.1 to allow using commands

* Dry up build job

* Use cache version from environment variable

* Prevent restoring cache with old version

* Update package-lock to use correct Typescript
            </pre>
          </td>
        </tr>

        <tr>

          <td nowrap="nowrap"><span style="display:none">2019-06-02T02:03:41&nbsp;</span>02-Jun-2019 02:03</td>
          <td>Cody Flatla</td>
          <td>
            Downgrade Typescript to 3.4.5

            <pre>
Required by Angular Compiler
            </pre>
          </td>
        </tr>

        <tr>
          <td nowrap="nowrap"><span style="display:none">2019-06-02T01:46:24&nbsp;</span>02-Jun-2019 01:46</td>
          <td>Cody Flatla</td>
          <td>
            Upgrade to Angular 8, Node 12, and fix dependencies (#7)

            <pre>
* Update nvmrc to 12

* Update to angular 8 via `ng update @angular/cli @angular/core`

* Remove @angular/http from package.json

* Replace package-lock with one that doesn&#39;t explode

* Install bootstrap peer dependencies and update typescript minor version

* Update circleci config to use node 12.3.1
            </pre>
          </td>
        </tr>

        <tr>
          <td nowrap="nowrap"><span style="display:none">2019-05-05T19:23:34&nbsp;</span>05-May-2019 19:23</td>
          <td>Cody Flatla</td>
          <td>
            Update bootstrap minor version to fix vulnerability
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
