<div class="container">
  <h1>Changelog</h1>

  <table *ngIf="changelogData.length > 0" class="table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">Hash</th>
        <th scope="col">Date</th>
        <th scope="col">Commit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of changelogData">
        <th scope="row"><a href={{item.commitUrl}}>{{item.commit}}</a></th>
        <td>{{item.date}}</td>
        <td [innerHTML]="item.subject"></td>
      </tr>
    </tbody>
  </table>

  <p>For the full history visit the <a href="https://github.com/C-Flatla/personal_website">GitHub repo</a></p>
</div>
