# File on DigitalOcean Ubuntu is /etc/nginx/sites-available/codyflatla.ca
server {
    root /var/www/codyflatla.ca/html;

    index index.html;

    server_name codyflatla.ca www.codyflatla.ca;

    location / {
        try_files $uri $uri/ /index.html;
    }

    # SSL configuration
    listen [::]:443 ssl ipv6only=on; # managed by Certbot
    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/codyflatla.ca/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/codyflatla.ca/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot
}


server {
    if ($host = www.codyflatla.ca) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


    if ($host = codyflatla.ca) {
        return 301 https://$host$request_uri;
    } # managed by Certbot

    return 404; # managed by Certbot
}
